body{
    font-family: poppins;  
    background-color: black;
}
.maindiv{
    display: flex;
    width: 100%;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 50px;

}
.left{
    width: 40%;
    text-align: center;
    margin-left: 10%;

}
.left h2{
    text-align: center;
    
}

.right{
    width: 40%;
  background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;

}